*.suo
*.user
Debug/
Release/
Win32/
.vs/
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.orig
*.rej
*.patch
*.log
*.o
*.exe
kanban/

# Out-of-tree CMake builds
build/
build-sanitizer/
build-coverage/
cmake-build-*
CMakeUserPresets.json
Testing/
.cache

# Coverage artifacts
*.gcda
*.gcno
*.gcov
coverage/
*.info
